.badge {
  @include flex-center(true);

  column-gap: 2px;
  font-weight: 500;
  font-size: fluid-to-laptop(14, 12);
  padding: 6px 10px;
  line-height: 1;
  color: var(--color-gray-60);
  white-space: nowrap;
  background-color: var(--color-black-08);
  border: var(--border);
  border-radius: 50px;

  @include mobile {
    padding-inline: 8px;
  }

  &--accent {
    color: var(--color-white);
    background-color: var(--color-red-45);
    border: none;
    border-radius: var(--border-radius-xxs);

    @include laptop {
      border-radius: var(--border-radius-xxxs);
    }
  }

  &--big {
    font-weight: 600;
    font-size: fluid-to-laptop(16, 12);
    padding: fluid-to-laptop(10, 8);
  }
}