.collections {
  --collectionsGroupPadding: #{fluid-to-laptop(50, 40)};

  &__group {
    display: grid;
    row-gap: fluid(100, 75);

    @include mobile-above {
      position: relative;
      padding: var(--collectionsGroupPadding);
      border: var(--border);
      border-radius: var(--border-radius-l);
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: var(--collectionsGroupPadding);
    translate: 0 -50%;
    font-weight: 600;
    font-size: fluid-to-laptop(20, 16);
    color: var(--color-white);
    background-color: var(--color-red-45);
    border-radius: var(--border-radius-s);
    padding: fluid-to-laptop(10, 8) fluid-to-laptop(24, 20);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }

  &__section {
    &.section {
      padding: 0;
    }
  }
}